.header{
    height: 100%;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.toggleSidebarBtn{
    user-select: none;
    padding: .5rem;
    cursor: pointer;
    color: white;
    margin-right: .5rem;
    border-radius: 50%;
    &:active{
        background-color: rgba(#fff, .25);
        transition: .1s;
    }
}