.app-wrapper {
  color: #8cabd9;
  display: grid;
  grid-template-areas: "header header" "nav content";
  min-height: 100vh;
  max-width: 80vw;
  margin: 0 auto;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 7fr;
  gap: .5rem;
}

