.app-wrapper {
  color: #ffffff;
  // color: #8cabd9;
  display: grid;
  grid-template-areas: "header" "content-wrapper";
  min-height: 100vh;
  margin: 0 auto;
  grid-template-rows: 1fr 10fr;
  gap: .5rem;
}

.app-content-wrapper{
  grid-area: content-wrapper;
  width: 80vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "nav content";
  gap: .5rem;
}