@import '../../Globals.scss';

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
}
.formWrapper{
    border: 2px solid $darkColor;
    border-radius: .5rem;
    padding: 1rem;
    text-align: left;
}
.form{
    padding: 1rem;
    min-width: 30vw;
}
.title{
    font-size: 2rem;
}
.options{
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
    align-items: center;
    & span{
        margin-right: .5rem;
    }
}